/.git
/.idea
/.vscode
/.coverage
/.npm-cache
/.jest-cache
/.gitignore
/.gitlab
/.dockerignore
/.DS_Store
/node_modules
/packages/*/node_modules
/packages/*/build
/packages/*/.build-cache
/packages/*/dist
/packages/frontend/**/*.styles.scss.d.ts
/Dockerfile
/docker-compose.yaml
