/.idea
/.vscode
/*.iml
/.build-cache
/.npm-cache
/.jest-cache
/.coverage
/node_modules
/packages/*/node_modules
/packages/*/build
/packages/*/.build-cache
/packages/*/config.yml
/packages/*/config.yaml
/packages/frontend/src/**/*.scss.d.ts
/.env
/uploads/**
dist/**
dist
.adminjs