.root,
.root:hover {
  background: var(--green);
  color: white;
  font-weight: 800;
  text-transform: none;
  display: block;
  width: 100%;
  max-width: 25em;
  padding: 1em;
  border-radius: var(--standart-border-radius);
  margin-top: 1em;
}

.root {
  font-size: 1em;
}

.root.disabled {
  color: white;
  background: rgba(26, 176, 185, 0.4);
}
