.balance {
  padding: 1.7em;
  background: var(--blue);
  border-radius: var(--standart-border-radius);

  .balanceFull {
    font-size: var(--headline-2);
    font-weight: 800;
    margin-bottom: 0.3em;
  }

  .balanceBonuses {
    font-weight: 800;
    font-size: 15px;
    opacity: 0.4;
  }
}

.buttonPlus {
  font-size: 2em;
  line-height: 1;
  vertical-align: middle;
  margin-right: 0.3em;
  font-weight: 100;
}

.transaction {
  margin-bottom: 1.5em;
}

.transactions {
  margin-top: 3em;
}

.transactionDate {
  margin-top: 1.5em
}

.transactionPlus {
  color: var(--green);
}

.transactionBody {
  display: flex;
  flex-flow: row;

  .transactionTitle {
    flex: 1;
    margin-right: 5em;
    line-height: 1.54;
  }

  .transactionSumm {
    font-weight: 800;
  }
}